<div class="five columns alpha">

	<%-#-- THE SCHOOL'S BANNER--%>
	<%= render 'schools/banner', :entry => @school %>

	<%-#--THE STUDENTS' HEADER--%>
	<%= render 'header', :entry => @student, :subtitle => "Edit" %>

</div>


<div class="eleven columns omega">

	<%-#--THE FORM--%>
	<%= render 'form' %>

</div>