<div class="five columns alpha">

	<%-#--THE SCHOOL HEADER --%>
	<%= render 'schools/header', :entry => @school, :subtitle => "New Student" %>

	
</div>


<div class="eleven columns omega">

	<%-#--THE FORM FOR A STUDENT--%>
	<%= render 'form' %>

</div>