<ul class="parcel-list">
	<% if entries.size > 0 %>
		<% entries.each do |entry| %>
			<li><%= parcel_for(entry) %></li>
		<% end %>
	<% else %>
		<aside class="nothing-found">Nothing was found.</aside>
	<% end %>
</ul>