<div class="five columns alpha">

	<%-#--TEACHER'S SCHOOLS--%>
	<section class="standard parcel-list-holder">
		<h3 class="section-header">Your Schools</h3>
		<%= render 'shared/parcel_list', :entries => @teacher_schools %>
	</section>

</div>

<div class="eleven columns omega">
a

</div>
