@import 'colors';
@import 'text';
/**************************************
*****THE BASIC PAGE LAYOUT*************
**************************************/

/*************************
-LAYOUT HEADER
-FLASH MESSAGES
-ERROR MESSAGES




*************************/


/****LAYOUT HEADER
*****************/
#layout-header-holder{
	background-color:					$support;
	color:										$off-verylight;
	width:										100%;
	margin-bottom:								10px;

	#layout-header{
		position:								relative;

		#layout-title{
			color:								$base-verylight;
			font-size:						20px;
			font-weight:					bold;
			display:							inline-block;
			vertical-align:				top;

			a{
				color:							$base-verylight;
				text-decoration:		none;

				&:hover{
					text-decoration:	underline;
				}
			}
		}

		#session-options{
			position:							absolute;
			top:									0px;
			right:								0px;
			display:							inline-block;

			li{
				margin:							4px 0px;
				padding:						0px;
			}

			a{
				font-size:					10px;
				font-weight:				bold;
				font-family:				$sans;
				color:							$base-verylight;
				text-decoration:		none;
				line-height:				1em;
				display:						block;

				&:hover{
					text-decoration:	underline;
				}
			}
		}
	}
}




/****FLASH MESSAGES
******************/
.flash{
	margin:										10px 0px;
	border:										2px solid $grey-light;
	padding:									3px 10px;
	text-align:								center;
	font-family:							$sans;
	font-weight:							bold;
	font-size:								14px;
	color:										$grey;

	&.notice{
		border-color:						$green-dark;
		background-color:				$green-verylight;
		color:									$green-dark;
	}

	&.alert{
		border-color:						$red-dark;
		background-color:				lighten($red-verylight,15%);
		color:									$red-dark;
	}
}




/****ERROR MESSAGES
******************/
.error-messages{
	margin:										5px 0px;
	padding:									4px 7px;
	border:										2px solid $red-dark;
	background-color:					lighten($red-verylight,15%);
	color:										$red-dark;

	h2{
		margin:									0px;
		font-size:							16px;
		font-family:						$sans;
		font-weight:						bold;
		color:									$red-verydark;
		line-height:						1em;
	}
	ul{
		margin:									5px 0px 5px 12px;
		font-size:							12px;
		font-family:						$serifs;
		font-style:							italic;
		color:									darken($grey-verydark,15%);
	}
}