@import 'colors';
@import 'text';
/**************************************
*****THE BASIC PAGE LAYOUT*************
**************************************/

/*************************
-FLASH MESSAGES
-LAYOUT HEADER




*************************/


/****LAYOUT HEADER
*****************/
#layout-header-holder{
	background-color:					$support;
	color:										$off-verylight;

	#layout-header{
		position:								relative;

		#layout-title{
			color:								$base-verylight;
			font-size:						20px;
			font-weight:					bold;
			display:							inline-block;
			vertical-align:				top;
		}

		#session-options{
			position:							absolute;
			top:									0px;
			right:								0px;
			display:							inline-block;
		}
	}
}




/****FLASH MESSAGES
******************/
.flash{
	margin-bottom:						10px;
	border:										2px solid $grey-light;
	padding:									3px 10px;
	text-align:								center;
	font-family:							$sans;
	font-weight:							bold;
	font-size:								14px;
	color:										$grey;

	&.notice{
		border-color:						$green-dark;
		background-color:				$green-verylight;
		color:									$green-dark;
	}
}