@import 'colors';
@import 'text';
/**************************************
*****THE BASIC PAGE BUILDERS***********
**************************************/

/*************************
-SECTIONS
-HEADERS
-ACTIONS




*************************/


/****SECTIONS
************/
section.standard{
	background-color:						white;
	padding:										0px 3px 5px 3px;
	border:											1px solid $support-light;
	margin-bottom:							5px;

	.section-header{
		margin:										0px 0px 0px -3px;
		padding:									2px 5px 2px 3px;
		background-color:					lighten($support-verylight,15%);
		display:									inline-block;
		border-right:							1px solid $support-light;
		border-bottom:						1px solid $support-light;
		border-top:								1px solid $support-light;
		line-height:							1em;
		font-family:							$sans;
		font-size:								14px;
		font-weight:							bold;
		color:										$support-verydark;
		position:									relative;
		top:											-1px;

		h3{
			color:red;
		}
	}
}



/****HEADERS
***********/
.page-header{
	background-color:						white;
	border:											1px solid $support-dark;
	padding:										3px 7px;
	margin-bottom:							5px;

	h1{
		font-size:								18px;
		font-family:							$sans;
		font-weight:							bold;
		line-height:							1.2em;
		margin:										0px;

		.header-subtitle{
			font-size:							12px;
			font-weight:						normal;
			font-style:							italic;
			font-family:						$serifs;
			color:									mix($support-dark,$grey-dark);
			line-height:						1.2em;
			vertical-align:					top;
		}
	}

}


/****ACTIONS
***********/
section.actions{
	background-color:						lighten($support-verylight,18%);

	.section-header{
		font-size:								16px;
	}

	.actions-list{
		margin-left:							-3px;

		li{
			width:									67%;

			a{
				display:							block;
				width:								100%;
				margin:								3px 0px;
				padding-left:					5px;
				border:								1px solid $support-verylight;
				border-left:					none;
				text-decoration:			none;
				font-family:					$sans;
				font-weight:					bold;
				font-size:						12px;
				color:								darken($support-verydark,0%);
				background-color:			lighten($support-verylight,10%);

				&:hover{
					background-color:		lighten($support-verylight,5%);
					border:							1px solid $support-light;
					color:							darken($support-verydark,10%);
					border-left:				none;
				}
			}
		}
	}
}